@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-wood-dark text-white;
    background-image: 
      repeating-linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.1) 0px,
        transparent 1px,
        transparent 2px,
        rgba(0, 0, 0, 0.1) 3px
      ),
      repeating-linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.1) 0px,
        transparent 1px,
        transparent 2px,
        rgba(0, 0, 0, 0.1) 3px
      );
    background-size: 100% 4px, 4px 100%;
  }
}
